@import "palette.import.less";

body {
  background-color: white;
}

.panel-heading {
  padding-top: 20px;
  background-color: transparent !important;
}

.mdl-card__title {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.mdl-card__title-text {
  font-size: 20px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.mdl-card__subtitle-text {
  color: white;
  font-weight: 100;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: black;
}

.mdl-layout__header {
  a, a:hover, a:focus {
    color: inherit;
  }
}

.congo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: rgb(66,66,66);
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.congo-main {
  margin-top: -40vh;
}
