@import "../../palette.import.less";

.congo-nav {
  .mdl-layout__header {
    position: relative; // so shadow will not be covered
    background-color: @darkPrimaryColor;
  }

  // somehow the blaze will mess the mdl js up on smaller screen sizes
  // and hide the nav bar
  @media screen and (max-width: 1024px) {
    .mdl-layout__header {
      display: flex;
    }
  }

  .mdl-navigation__link {
    display: flex;
    flex-direction: row;
    padding-right: 10px;

    i {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-right: 5px;
    }
  }
}
