<template name="home">
  <div class="container">
    <div class="page-header">
      <h1>Welcome to Congo!</h1>
    </div>
    {{> sortForm}}

    <table class="table">
      <!--<caption>Books</caption>-->
      <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
      </tr>
      </thead>
      <tbody>
      {{#each books}}
        {{>book}}
      {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="book">
  <tr>
    <td>{{title}}</td>
    <td>{{author}}</td>
    <td>
      <a href="/book/{{ISBN}}">{{ISBN}}</a>
    </td>
  </tr>
</template>

<template name="sortForm">
  <h3> Filter by </h3>
  <form>
    <label> Author </label>
    <input type="text" name="author">
    <label> Publisher </label>
    <input type="text" name="publisher">
    <label> Title </label>
    <input type="text" name="bookTitle">
    <label> Subject </label>
    <input type="text" name="subject">
    <h4> Sort by </h4>
    <div>
      <input type="radio" name="sort" value="year">
      <span> Year </span>
      <input type="radio" name="sort" value="feedback">
      <span> Feedbacks </span>
    </div>
    <input type="submit" value="Search">
  </form>
</template>
