.congo-home {
  .filter-form {
    max-width: 640px;
    margin: 40px auto;

    .sort-form-collapsible-text {
      flex-direction: column;
      display: flex;
      justify-content: center;
      padding-left: 8px;
    }

    .collapsible-1-area {
      margin: 0 !important;
    }

    label {
      margin-bottom: 0;
    }
  }

  .filter-form.mdl-card {
    min-height: inherit;
  }

  .book-catalog {
    max-width: 900px;
    margin: 0 auto;

    .book-info-card {
      width: auto;
      height: 320px;
    }
    .book-info-card > .mdl-card__title {
      color: #fff;
      background: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ),
      url('images/book-cover-1.jpg') 15% no-repeat #46B6AC;
      background-size: 100%;
    }

    .details-flex-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
    }
  }
}
