<template name="home">
  <div class="congo-home mdl-grid">
    {{> sortForm}}

    <div class="mdl-cell mdl-cell--12-col">
      <div class="book-catalog main-content">
        <div class="mdl-grid">
          {{#each books}}
            {{> bookCard}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="bookCard">
  <div class="mdl-cell mdl-cell--4-col">
    <a href="/book/{{ISBN}}">
      <div class="book-info-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand" style="background: linear-gradient(
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)
                ),
                url('{{bookCover ISBN}}') no-repeat #46B6AC;">
          <div class="details-flex-container">
            <div class="price-label">
              ${{price}}
            </div>
            <div class="price-label">
              {{copies}} left
            </div>
          </div>
          <div class="mdl-card__title-text">{{title}}</div>
          <div class="mdl-card__subtitle-text">{{author}}</div>
        </div>
      </div>
    </a>
  </div>
</template>

<template name="sortForm">
  <div class="filter-form heading-content collapsible-wrap mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    <input type="checkbox" id="collapsible-1">
    <label class="sort-form-collapsible-title" for="collapsible-1">
      <i class="material-icons">search</i>
      <span class="sort-form-collapsible-text">Search</span>
    </label>
    <div class="collapsible-1-area">
      <form>
        <div class="mdl-card__supporting-text">

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="filter-form-author" name="author">
            <label class="mdl-textfield__label" for="filter-form-author">Author</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="filter-form-publisher" name="publisher">
            <label class="mdl-textfield__label" for="filter-form-publisher">Publisher</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="filter-form-title" name="bookTitle">
            <label class="mdl-textfield__label" for="filter-form-title">Title</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="filter-form-subject" name="subject">
            <label class="mdl-textfield__label" for="filter-form-subject">Subject</label>
          </div>

          <div class="mdl-textfield">
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
              <input type="radio" id="option-1" class="mdl-radio__button" name="sort" value="year" checked>
              <span class="mdl-radio__label">Year</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
              <input type="radio" id="option-2" class="mdl-radio__button" name="sort" value="avg_score">
              <span class="mdl-radio__label">Score</span>
            </label>
          </div>

          <input class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
                 type="submit" value="Search">
        </div>
      </form>
    </div>
  </div>
</template>
