<template name="home">
  <div class="container">
    <div class="page-header">
      <h1>Welcome to Congo!</h1>
    </div>
    {{> sortForm}}

    <table class="table">
      <!--<caption>Books</caption>-->
      <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Year</th>
        <th>Publisher</th>
        <th>Score</th>
      </tr>
      </thead>
      <tbody>
      {{#each books}}
        {{>book}}
      {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="book">
  <tr>
    <td>{{title}}</td>
    <td>{{author}}</td>
    <td>
      <a href="/book/{{ISBN}}">{{ISBN}}</a>
    </td>
    <td>{{year}}</td>
    <td>{{publisher}}</td>
    <td>{{avg_score}}</td>
  </tr>
</template>

<template name="sortForm">
  <h3>Filter by</h3>
  <form>
    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" name="author">
    </div>
    <div class="form-group">
      <label>Publisher</label>
      <input type="text" class="form-control" name="publisher">
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="bookTitle">
    </div>
    <div class="form-group">
      <label>Subject</label>
      <input type="text" class="form-control" name="subject">
    </div>
    <div class="form-group">
      <label>Sort</label>
      <div class="radio">
        <label>
          <input type="radio" name="sort" value="year">
          Year
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="sort" value="avg_score">
          Score
        </label>
      </div>

    </div>
    <input class="btn btn-default" type="submit" value="Search">
  </form>
</template>
