<template name="adminBookList">
  <div class="admin small-page">
    <h3 class="page-title-container">Admin</h3>

    <div class="main-content mdl-grid">
      {{> userInfo}}
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">

          {{> newBook}}


        </div>
      </div>

    </div>

    <div class="mdl-grid">
      <table class="admin-book-table mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th class="fixed-width mdl-data-table__cell--non-numeric">Title</th>
          <th class="mdl-data-table__cell--non-numeric">Author</th>
          <th>ISBN</th>
          <th class="small-table-cell-width">Year</th>
          <th class="mdl-data-table__cell--non-numeric">Publisher</th>
          <th class="small-table-cell-width">Score</th>
          <th class="small-table-cell-width">Copies</th>
          <th class="mdl-data-table__cell--non-numeric">Update</th>
        </tr>
        </thead>
        <tbody>
        {{#each books}}
          {{> adminBook}}
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>

<template name="adminBook">
  <tr>
    <td class="mdl-data-table__cell--non-numeric">{{title}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{author}}</td>
    <td>
      <a href="/book/{{ISBN}}">{{ISBN}}</a>
    </td>
    <td class="small-table-cell-width">{{year}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{publisher}}</td>
    <td class="small-table-cell-width">{{avg_score}}</td>
    <td class="small-table-cell-width">{{copies}}</td>
    <td class="mdl-data-table__cell--non-numeric">
      <form class="admin-book-update-form">
        <input type="hidden" name="ISBN" value="{{ISBN}}">
        <div class="admin-book-update-cell mdl-textfield mdl-js-textfield">
          <input class="admin-book-update-text-field mdl-textfield__input" type="number" id="admin-book-update-quantity-{{ISBN}}" name="quantity">
          <label class="mdl-textfield__label" for="admin-book-update-quantity-{{ISBN}}">Update</label>
        </div>

        <button class="admin-book-update-text-button mdl-button mdl-js-button mdl-button--primary"
                type="submit" value="Update">Copies</button>
      </form>
    </td>
  </tr>
</template>

<template name="newBook">
  <form class="new-book">
    <h3>New Book</h3>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="admin-new-book-title" name="bookTitle">
      <label class="mdl-textfield__label" for="admin-new-book-title">Title</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="number" id="admin-new-book-isbn" name="ISBN">
      <label class="mdl-textfield__label" for="admin-new-book-isbn">ISBN</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="admin-new-book-publisher" name="publisher">
      <label class="mdl-textfield__label" for="admin-new-book-publisher">Publisher</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="admin-new-book-author" name="author">
      <label class="mdl-textfield__label" for="admin-new-book-author">Author</label>
    </div>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="number" id="admin-new-book-year" name="year">
      <label class="mdl-textfield__label" for="admin-new-book-year">Year</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="number" id="admin-new-book-quantity" name="quantity">
      <label class="mdl-textfield__label" for="admin-new-book-quantity">Quantity</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="number" id="admin-new-book-price" name="price">
      <label class="mdl-textfield__label" for="admin-new-book-price">Price</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="admin-new-book-bkformat" name="bkformat">
      <label class="mdl-textfield__label" for="admin-new-book-bkformat">Book Format</label>
    </div>


    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="admin-new-book-keywords" name="keywords">
      <label class="mdl-textfield__label" for="admin-new-book-keywords">Keywords</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="admin-new-book-subject" name="subject">
      <label class="mdl-textfield__label" for="admin-new-book-subject">Subject</label>
    </div>

    <input class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
           type="submit" value="Make new book">
  </form>
</template>

