@content-margin: 20px;
.book-detail {

  .book-information, .feedback-input, .feedback-output {
    margin: @content-margin;
  }

  .feedback-input {
    label {
      display: block;
    }
  }
}

.details {
  margin-top: @content-margin;
  margin-bottom: @content-margin;
  .label {
    font-weight: bold;
    color: black;
  }
}