<template name="bookFeedback">
  <div class="col-sm-3 book-feedback">
    <div class="fixed-panel-height panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{login}}</h3>
      </div>
      <div class="panel-body">
        <label>Score</label>
        {{score}}
        <label>Content</label>
        {{content}}
        <label>Helpfulness</label>
        {{avg_rating}}
        <label>Is this review helpful?</label>
        <div class="feedback-rating-controls">
          <button class="feedback-score-0 feedback-score btn btn-default btn-xs" value="0">0</button>
          <button class="feedback-score-1 feedback-score btn btn-default btn-xs" value="1">1</button>
          <button class="feedback-score-2 feedback-score btn btn-default btn-xs" value="2">2</button>
        </div>
      </div>
    </div>
  </div>
</template>
