
<template name="bookFeedback">
  <div class="book-feedback details">
    <div class="feedback-score">

      <div class="feedback-detail">
        <span class="feedback-label label">
          Posted by:
        </span>
        {{login}}
      </div>

      <div class="feedback-detail">
        <span class="feedback-label label">
          Score:
        </span>
        {{score}}
      </div>

      <div class="feedback-detail">
        <span class="feedback-label label">
          Feedback:
        </span>
        {{content}}
      </div>

      <div class="feedback-detail">
        <span class="feedback-label label">
          Helpfulness:
        </span>
        {{avg_rating}}
      </div>

      <div class="feedback-rating-controls">
        <button class="feedback-score-0 feedback-score" value="0">0</button>
        <button class="feedback-score-1 feedback-score" value="1">1</button>
        <button class="feedback-score-2 feedback-score" value="2">2</button>
      </div>
    </div>
  </div>
</template>
