<template name="bookDetails">
  <div class="book-details">
    <div class="container">
      <div class="page-header">
        {{#with bookData}}
        <h1>{{title}} </h1>
        <small> by {{author}} | {{copies}} left</small>
        <button class="cart btn btn-default" data-toggle="modal" data-target="#myModal" data-isbn="{{ISBN}}">
          Add to cart
        </button>
        {{> recommendationModal ISBN}}
        {{/with}}

      </div>

      <div class="feedback-input">
        <h3>Submit Feedback</h3>
        <form class="feedback-input-form" name="Feedback Form">
          <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="feedbackValue" rows="4" cols="50"></textarea>
          </div>
          <div class="form-group">
            <label>Score</label>
            <input class="form-control" name="bookScore" type="number" value="0">
          </div>
          <input class="submit-feedback btn btn-default" type="submit" value="Submit Feedback">
        </form>
      </div>

      <div class="feedback-output">
        <div>
          <h3>Sort Feedback</h3>
          <form class="sort-feedback-form form-inline">
            Sort by most helpful and show <input class="form-control" name="queryLimit" type="number" value="5"> results
            <input class="btn btn-default" type="submit">
          </form>
        </div>

        <div class="all-feedback">
          {{#each allFeedback}}
            {{> bookFeedback}}
          {{/each}}
        </div>

      </div>
    </div>
  </div>
</template>
