<template name="bookDetails">
  <div class="book-details">

    <div class="book-info page-title-container">
      {{#with bookData}}

        <div class="book-info-title-author">
          <h3>{{title}}</h3>
          {{author}}
        </div>

        <div class="book-info-actions">
          <div class="book-info-price vertical-align-text">
            $ {{price}}
          </div>
          <div class="book-info-copies">
            {{copies}} copies left
          </div>
          <button class="cart mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
                  data-toggle="modal" data-target="#myModal" data-isbn="{{ISBN}}">
            Add to cart
          </button>
        </div>

      {{/with}}
    </div>

    <div class="mdl-grid">
      <div class="main-content mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">

          <div class="feedback-input">
            <form class="feedback-input-form" name="Feedback Form">

              <div class="feedback-input-content-container mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="1" name="feedbackValue"
                          id="feedback-input-content"></textarea>
                <label class="mdl-textfield__label" for="feedback-input-content">Submit feedback</label>
              </div>

              <div class="feedback-input-score-container mdl-textfield mdl-js-textfield">
                {{> rating}}
              </div>

              <div class="feedback-input-action-container">
                <button class="submit-feedback mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored"
                        type="submit" value="Submit Feedback">
                  Submit
                </button>
              </div>

            </form>
          </div>
        </div>

        <div class="feedback-output mdl-card__supporting-text top-separator">
          <form class="feedback-output-sort-controls">
            <div class="vertical-align-text">Show</div>
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" name="queryLimit" type="number" value="5" id="feedback-output-limit">
              <label class="mdl-textfield__label" for="feedback-output-limit">Limit</label>
            </div>

            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary material-icons"
                    type="submit">
              filter_list
            </button>
          </form>

          <div class="all-feedback">
            {{#each allFeedback}}
              {{> bookFeedback}}
            {{/each}}
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<template name="rating">
  <input type="range" value="0" step="1" id="bookScore" name="bookScore">
  <div class="rateit" data-rateit-backingfld="#bookScore" data-rateit-resetable="false" data-rateit-ispreset="true"
       data-rateit-min="0" data-rateit-max="10">
  </div>
</template>
