.book-details {
  margin-bottom: 60px;

  .book-info {

    .book-info-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .book-info-price {
      text-align: center;
      font-size: 50px;
      line-height: initial;
      margin-bottom: 10px;
    }

    .book-info-copies {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .book-feedback {
    padding-top: 30px;
    padding-bottom: 30px;

    i {
      font-size: 30px;
    }

    .book-feedback-op, .book-feedback-helpfulness, i {
      margin-right: 15px;
    }


    .book-feedback-title {
      margin-bottom: 20px;
    }

    .book-feedback-score {
      font-size: 20;
      color: rgba(0,0,0, 0.54);
    }
  }

  .book-feedback:nth-child(1) {
    padding-top: 30px - 16px;
  }

  .mdl-card__supporting-text {
    width: initial;
    padding-left: 40px;
    padding-right: 40px;
  }

  .feedback-input-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .mdl-textfield {
      display: block;
      width: 500px;
      margin-right: 40px;
    }

    .feedback-input-score-container {
      width: 150px;
    }

    .feedback-input-action-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .feedback-output {
    padding-top: 0;
  }
  .feedback-output-sort-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .mdl-textfield {
      width: 25px;
      margin-left: 20px;
    }
  }

}
