<template name="login">
  <div class="login">
    <div class="login-background"></div>
    <div class="login-container">
      <form name="login">
        <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <i class="material-icons">chrome_reader_mode</i>
            <span class="mdl-card__title-text">Congo</span>
          </div>
          <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="login-field-email" class="mdl-textfield__input" type="text" pattern="^[a-z0-9_-]{3,16}$" name="login">
              <!--<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">-->
              <label class="mdl-textfield__label" for="login-field-email">Username</label>
              <span class="mdl-textfield__error">Should be 3-16 alphanumeric characters</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="login-field-password" class="mdl-textfield__input" type="password" name="password">
              <!--<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">-->
              <label class="mdl-textfield__label" for="login-field-password">Password</label>
              <!--<span class="mdl-textfield__error">Input is not a number!</span>-->
            </div>
              Don't have an account? <a href="/register">Register here</a>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button class="submit-login-form mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect" name="login" type="submit">
              Login
            </button>
          </div>
        </div>
      </form>
      </div>
    </div>
</template>

<template name="register">
    <div class="login">
        <div class="login-background"></div>
        <div class="login-container">
            <form name="login">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <i class="material-icons">chrome_reader_mode</i>
                        <span class="mdl-card__title-text">Congo</span>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="mdl-info">Login Credentials</span>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input id="login-field-email" class="mdl-textfield__input" type="text" pattern="^[a-z0-9_-]{3,16}$" name="login">
                            <label class="mdl-textfield__label" for="login-field-email">Username</label>
                            <span class="mdl-textfield__error">Should be 3-16 alphanumeric characters</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input id="login-field-password" class="mdl-textfield__input" type="password" name="password">
                            <label class="mdl-textfield__label" for="login-field-password">Password</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input id="login-field-password-again" class="mdl-textfield__input" type="password" name="password">
                            <label class="mdl-textfield__label" for="login-field-password-again">Password (Again)</label>
                        </div>
                      <span class="mdl-info">Credit Card Info</span>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="cardnumber" pattern="-?[0-9]*(\.[0-9]+)?" maxlength="16" />
                            <label class="mdl-textfield__label" for="cardnumber">XXXX XXXX XXXX XXXX</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <span class="mdl-info">Contact Info</span>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="fullname"/>
                            <label class="mdl-textfield__label" for="address">Full Name</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="address" />
                            <label class="mdl-textfield__label" for="address">Address</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="phonenumber" pattern="[0-9]*?"/>
                            <label class="mdl-textfield__label" for="phonenumber">Phone Number</label>
                            <span class="mdl-textfield__error">Input is not a phone number!</span>
                        </div>
                        Already have an account? <a href="/">Login here</a>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                        <button class="submit-register-form mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" name="register"
                                type="submit">Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

