<template name="login">
  <div class="login">
    <div class="login-background"></div>
    <div class="login-container">
      <form name="login">
        <div class="mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <i class="material-icons">chrome_reader_mode</i>
            <span class="mdl-card__title-text">Congo</span>
          </div>
          <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="login-field-email" class="mdl-textfield__input" type="text" pattern="^[a-z0-9_-]{3,16}$" name="login">
              <!--<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">-->
              <label class="mdl-textfield__label" for="login-field-email">Email</label>
              <span class="mdl-textfield__error">Should be 3-6 alphanumeric characters</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input id="login-field-password" class="mdl-textfield__input" type="password" name="password">
              <!--<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">-->
              <label class="mdl-textfield__label" for="login-field-password">Password</label>
              <!--<span class="mdl-textfield__error">Input is not a number!</span>-->
            </div>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button class="submit-login-form mdl-button mdl-js-button mdl-button--primary" name="login" type="submit">
              Login
            </button>
            <button class="submit-register-form mdl-button mdl-js-button mdl-button--accent" name="register"
                    type="submit">Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
