.login {
  .vertical-center {
    //http://stackoverflow.com/a/22196760/5076225
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }

  .container {
    padding-left: 200px;
    padding-right: 200px;
  }

  .page-header {
    text-align: center;
  }
}
