<template name="login">
    <form class="form-group" name="login">
        <label> Email </label>
        <input id="login-field-email" class="form-control" type="text" name="login">
        <label> Password </label>
        <input id="login-field-password" class="form-control" type="password" name="password">
        <input class="submit-login-form" name="register" type="submit" value="login">
        <input class="submit-register-form" name="register" type="submit" value="register">
    </form>
</template>