<template name="orderHistory">
  {{#if invoices ..}}
      <div class="order-history">
          <table class="table table-hover">
              <!--<caption>Books</caption>-->
              <thead>
              <tr>
                  <th>ISBN</th>
                  <th>Price</th>
                  <th>Copies</th>
                  <th>Date</th>
              </tr>
              </thead>
              <tbody>
              {{#each invoices ..}}
                {{> invoice}}
              {{/each}}
              </tbody>
          </table>
      </div>
  {{else}}
      <span> Nothing here yet!</span>
  {{/if}}
</template>

<template name="invoice">
    <tr>
        <td>{{ISBN}}</td>
        <td>${{price}}</td>
        <td>{{copies}}</td>
        <td>{{order_date}}</td>
    </tr>
</template>
