<template name="profile">
    {{> userInfo}}
    {{> orderHistory}}
    {{> feedbackHistory}}
    {{> ratedFeedback}}
</template>

<template name="userInfo">
    {{#with profile ..}}
        Email: {{login}}
        Name: {{name}}
        Credit Number: {{credit_num}}
        Address: {{address}}
    {{/with}}
</template>

<template name="orderHistory">
    <ul>
        {{#each invoices ..}}
            <li>{{ISBN}} ${{price}} #{{copies}} @{{order_date}}</li>
        {{/each}}
    </ul>
</template>

<template name="feedbackHistory">
    {{#each feedbackHistory ..}}
      {{> userFeedback}}
    {{/each}}
</template>

<template name="ratedFeedback">
  {{#each ratedFeedback ..}}
    {{> userRated}}
  {{/each}}
</template>

<template name="userFeedback">
  <div class="book-feedback details">
    <div class="feedback-detail">
        <span class="feedback-label label">
          ISBN:
        </span>
      {{ISBN}}
    </div>

    <div class="feedback-detail">
        <span class="feedback-label label">
          Score:
        </span>
      {{score}}
    </div>

    <div class="feedback-detail">
        <span class="feedback-label label">
          Feedback:
        </span>
      {{content}}
    </div>

    <div class="feedback-detail">
        <span class="feedback-label label">
          Helpfulness:
        </span>
      {{avg_rating}}
    </div>
  </div>
</template>

<template name="userRated">
  <div class="user-rated details">
    <div class="rated-detail">
        <span class="feedback-label label">
          ISBN:
        </span>
      {{ISBN}}
    </div>
    <div class="rated-detail">
        <span class="feedback-label label">
          OP:
        </span>
      {{login}}
    </div>
    <div class="rated-detail">
        <span class="feedback-label label">
          Rating:
        </span>
      {{rating}}
    </div>
  </div>
</template>
