<template name="profile">
  <div class="profile">
    <div class="page-title-container">
      <h3>
        Your Profile
      </h3>
      {{> userInfo}}
    </div>
    <div class="main-content mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">

          <h2>Order history</h2>
          {{> orderHistory}}

          <h2> Feedback History</h2>
          {{> feedbackHistory}}

          <h2> Rated Feedback</h2>
          {{> ratedFeedback}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="userInfo">
  {{#with profile ..}}
    <div class="user-info">
      <label>User</label>
      {{login}}
      <label>Name</label>
      {{name}}
      <label>Credit Number</label>
      {{credit_num}}
      <label>Address</label>
      {{address}}
    </div>
  {{/with}}

</template>

<template name="feedbackHistory">
  {{#if feedbackHistory ..}}
    {{#each feedbackHistory ..}}
      {{> userFeedback}}
    {{/each}}
  {{else}}
    <span> Nothing here yet!</span>
  {{/if}}
</template>

<template name="ratedFeedback">
  {{#if ratedFeedback ..}}
    {{#each ratedFeedback ..}}
      {{> userRated}}
    {{/each}}
  {{else}}
    <span> Nothing here yet!</span>
  {{/if}}
</template>

<template name="userFeedback">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ISBN}}</h3>
      </div>
      <div class="panel-body">
        <label>Score</label>
        {{score}}
        <label>Content</label>
        {{content}}
        <label>Helpfulness</label>
        {{avg_rating}}
      </div>
    </div>
  </div>
</template>

<template name="userRated">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ISBN}}
      </div>
      <div class="panel-body">
        <label>OP</label>
        {{login}}
        <label>Rating</label>
        {{rating}}
      </div>
    </div>
  </div>
</template>
