<template name="profile">
  <div class="profile small-page">
    <div class="main-content mdl-grid">
      {{> userInfo}}
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">

          <h2>Order history</h2>
          {{> orderHistory}}

          <h2> Feedback History</h2>
          {{> feedbackHistory}}

          <h2> Rated Feedback</h2>
          {{> ratedFeedback}}
        </div>
      </div>
    </div>
  </div>
</template>

<template name="userInfo">
  {{#with profile ..}}
    <div class="profile-user-info mdl-card user-img mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-card__media mdl-color-text--grey-50">
        <div class="media-text">
          <h3>{{name}}</h3>
        </div>
      </div>

      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <div>
          <strong>Credit Card:</strong>
          <span>{{credit_num}}</span>
        </div>
        <div>
          <strong>Address:</strong>
          <span>{{address}}</span>
        </div>
        <div>
          <strong>Phone:</strong>
          <span>{{phone_num}}</span>
        </div>
      </div>
    </div>
  {{/with}}

</template>

<template name="feedbackHistory">
  {{#if feedbackHistory ..}}
    <table class="feedback-history-table mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">ISBN</th>
        <th>Content</th>
        <th class="mdl-data-table__cell--non-numeric">Score</th>
        <th class="mdl-data-table__cell--non-numeric">Feedback Rating</th>
      </tr>
      </thead>

      <tbody>
      {{#each feedbackHistory ..}}
        {{> userFeedback}}
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <span> Nothing here yet!</span>
  {{/if}}
</template>

<template name="userFeedback">
  <tr>
    <td class="mdl-data-table__cell--non-numeric">{{ISBN}}</td>
    <td>{{content}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{score}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{avg_rating}}</td>
  </tr>
</template>

<template name="ratedFeedback">
  {{#if ratedFeedback ..}}
    <table class="rated-feedback-table mdl-data-table mdl-js-data-table">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">ISBN</th>
        <th> Feedback </th>
        <th>Original Poster</th>
        <th class="mdl-data-table__cell--non-numeric">Feedback Rating</th>
      </tr>
      </thead>

      <tbody>
      {{#each ratedFeedback ..}}
        {{> userRated}}
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <span> Nothing here yet!</span>
  {{/if}}
</template>

<template name="userRated">
  <tr>
    <td class="mdl-data-table__cell--non-numeric">{{ISBN}}</td>
    <td>{{content}}</td>
    <td>{{login}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{rating}}</td>
  </tr>
</template>
