<template name="statistics">
  <div class="container">
    <div class="page-header">
      <h1>Statistics</h1>
    </div>
    <div>
      <div>
        Most Popular Books
        {{#each mostPopularBooks}}
          {{> bookInformation}}
        {{/each}}
      </div>

      <div>
        Most Popular Authors
        {{#each mostPopularAuthors}}
          {{> authorInformation}}
        {{/each}}
      </div>

      <div>
        Most Popular Publishers
        {{#each mostPopularPublishers}}
          {{> publisherInformation}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="bookInformation">
  <div>
    {{ISBN}}
  </div>
</template>

<template name="authorInformation">
  <div>
    {{author}}
  </div>
</template>

<template name="publisherInformation">
  <div>
    {{publisher}}
  </div>
</template>

<!--Template.statistics.helpers({-->
<!--mostPopularBooks: () => {-->
<!--return Template.instance().mostPopularBooks.reactive();-->
<!--},-->
<!--mostPopularAuthors: () => {-->
<!--return Template.instance().mostPopularAuthors.reactive();-->
<!--},-->
<!--mostPopularPublishers: () => {-->
<!--return Template.instance().mostPopularPublishers.reactive();-->
<!--}-->
