<template name="statistics">
  <div class="statistics small-page">
    <h3 class="page-title-container">Statistics</h3>

    <div class="main-content mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <h2>Most Popular Books</h2>
          <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">ISBN</th>
            </tr>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Title</th>
            </tr>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Copies sold this month</th>
            </tr>
            </thead>
            <tbody>
            {{#each mostPopularBooks}}
              {{> bookInformation}}
            {{/each}}
            </tbody>
          </table>


          <h2>Most Popular Authors</h2>
          <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Author</th>
            </tr>
            </thead>
            <tbody>
            {{#each mostPopularAuthors}}
              {{> authorInformation}}
            {{/each}}
            </tbody>
          </table>


          <h2>Most Popular Publishers</h2>
          <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Publisher</th>
            </tr>
            </thead>
            <tbody>
            {{#each mostPopularPublishers}}
              {{> publisherInformation}}
            {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="bookInformation">
  <tr>
    <td class="mdl-data-table__cell--non-numeric">
      {{ISBN}}
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      {{title}}
    </td>
    <td class="mdl-data-table__cell--non-numeric">
      {{copies}}
    </td>
  </tr>
</template>

<template name="authorInformation">
  <tr>
    <td class="mdl-data-table__cell--non-numeric">
      {{author}}
    </td>
  </tr>

</template>

<template name="publisherInformation">
  <tr>
    <td class="mdl-data-table__cell--non-numeric">
      {{publisher}}
    </td>
  </tr>
</template>
